.header{
    background-color: rgb(9, 169, 147);
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #000;
}

.header h1 {
    margin: 0;
    font-size: 1.5em;
    color: #fff;
}

.header nav{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.header nav a {
    color: #0e4a6b;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.2s ease;
    font-weight: bold;
}

.header nav a:hover {
    color: #156590;
}